{% extends "base.html.twig" %}
{% use 'blocks/news.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 bg-dark text-light d-flex flex-column">
                {% include "admin/left_menu.html.twig" %}
            </div>
            <div class="col-12 col-md-8">
                {% block news %}
                    {{ parent() }}
                {% endblock %}
                <br />
                {% include 'blocks/pagination.html.twig' with {'count':pagination.max, 'current':pagination.current} only %}
            </div>
        </div>
    </div>
{% endblock %}