{% block admin_left_menu %}
    <h1 class="text-center">Hello Admin</h1>
    <a href="/admin" class="text-light">Список новостей</a>
    <a href="/admin/news/add" class="text-light">Добавить новость</a>
    <a href="/logout" class="text-light">Выход</a>
{% endblock %}